<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
<head>
  <title>Dashboard</title>
</head>
<body>
  <div class="container">
    <h2><i class="ri-shield-keyhole-line"></i></h2>
    <h1>Hello, <%= name %> <i class="ri-user-smile-line"></i></h1>
    <p>You Have Unlock My Secret</p>
  <a class="btn" href="/logout">Logout <i class="ri-logout-box-line"></i></a>
  </div>
</body>

</html>